body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

#emoji {
  font-size: 10rem;
  filter: grayscale(1);
  cursor: pointer;
  transition-property: transform, filter;
  transition-duration: 200ms;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg) scale(1.3);
  }
  25% {
    transform: rotate(5deg) scale(1.3);
  }
  50% {
    transform: rotate(-5deg) scale(1.3);
  }
  75% {
    transform: rotate(5deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) scale(1.3);
  }
}

#emoji:hover {
  animation: wobble 0.3s ease-in-out;
  filter: grayscale(0);
}
